<p id="notice"><%= notice %></p>

<h1>TwitterClone</h1>

<table>
  <thead>
    <tr>
      <th>list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post, style: "font-size: 24px; text-align: center;" %></td>
        <td><%= link_to 'Edit', edit_post_path(post), style: "font-size: 24px; text-align: center;" %></td>
        <td><%= link_to 'Destroy', post,style: "font-size: 24px; text-align: center;", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, style: "font-size: 24px;" %>
