<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <a href="http://127.0.0.1:3000/posts#" style="font-size: 30px;">home</a>
</header>
  


  <div class="container">
    <%= yield %>
  </div>

<footer style="background-color: #4169e1; color: #fff; padding: 10px; text-align: center;">
  &copy; 2024 My TwitterClone. All rights reserved.
</footer>
  </body>
</html>
